select {
	min-width: 150px;	
}
input[type="text"], input[type="number"] {
  font-family: 'Courier New', 'Lucida Console', monospace;
  font-size: 90%;
  padding: 0px;
  padding-left: 2px;
  padding-right: 2px;
} 
input.ui-button {
	padding: 2px 10px;
}
.ui-widget {
	font-size: 100%;
}
h5, h6 {
	margin-bottom: 0;
}
h6 {
	margin-top: 2px;
}
ul.fieldBox {
	background-color: rgb(228, 241, 251);
	list-style-type: none;
	display: inline-block;
}
ul.fieldBox > li {
	padding: 5px;
	vertical-align: middle;
}
ul.fieldBox > li:nth-child(odd) {
	background-color: rgb(214, 234, 249);
}
ul.fieldBox > li:last-child {
	background-color: inherit;
}
ul.fieldBox.fewFields > li {
	background-color: inherit;
}
.fieldBox label {
	width: 100px;
	display: inline-block;
	vertical-align:top;
	margin-top: 5px;
}
div.yllapito .fieldBox label {
	width: 150px;
}
.fieldBox input[type="submit"] {
	margin-left: 100px;
}
div.yllapito .fieldBox input[type="submit"] {
	margin-left: 10px;
}
select {
	max-width: 230px;
}
input[type="text"], input[type="number"] {
	height: 21px;
	margin: 2px;
}

div.message {
	background-color: rgb(200,200,200);
	font-color: black;
	padding: 10px;
	display: block;
	margin: 10px;
	border: 1px dotted grey;
}
div.error {
	background-color: rgb(250,200,200);
	font-color: rgb(100,50,50);
}
div.warning {
	background-color: rgb(255, 243, 175);
	font-color: rgb(100,50,50);
}
div.success {
	background-color: rgb(200,250,200);
	font-color: rgb(50,100,50);
}

table.distTable td {
	padding-right: 5px;
}
td.ringBatch {
	border: 1px dotted grey;
	padding: 3px;
	margin: 0;
}
div.ringBatch.usedRingBatch {
	background-color: rgb(200,255,200);
}
.erroneousField {
	background-color: rgb(250,200,200) !important; 
}
.erroneousField .chzn-container > * {
	background: inherit  !important;
	background-color: rgb(250,200,200) !important;
}
.warningField {
	background-color: rgb(255, 243, 175) !important;
}
button.acceptWarnings {
	margin-left: 20px;
}
.changeResource {
	float: right;
	display: inline-block;
	padding: 2px;
	margin: 2px;
}
form {
	display: inline-block;
}
.clear {
	clear: both;
}
div.fieldGroup {
	margin-left: 40px;
}


.largeTable {
	border-collapse: collapse;
	background-color: white;
}
.largeTable td, .largeTable th {
	font-size: 10px;
	border: 1px solid #ccc;
	padding: 1px;
	background-color: rgb(242, 245, 247);
}
.largeTable th {
	background-color: rgb(222, 237, 247);
}
.largeTable td, .largeTable th { vertical-align: middle; }

.advancedSearchFieldSelectTable tbody td {
	vertical-align: top;
	white-space: nowrap;
}
.advancedSearchFieldSelectTable li {
	list-style-type: none;
}
#searchCriteriaAndSelectedFields th { padding-right: 10px; }
#searchCriteriaAndSelectedFields input[type="text"] {
	min-width: 150px;
}
#searchCriteriaAndSelectedFields .dateinput {
	min-width: 1px !important;
}

#eventGrid, #eventGrid label {
	font-size: 90%;
}
#eventGrid .fieldBox li {
	padding: 0;
	padding-left: 2px;
}

#eventGrid .chzn-container-single .chzn-single {
	border-style: none;
	border-radius: 1px;
}
#eventGrid div.fieldGroup {
	margin: 1px;
	margin-left: 10px;
}

#eventGrid input[type="submit"] {
	margin-left: 0px;
	float: right;
}

.eventPikahaku {
	display: block;
}
.eventPikahaku li {
	display: inline-block; float: left;
}
.eventPikahaku input[type="submit"] {
	margin-left: 0px;
}
.eventPikahaku label {
	width: auto;
}
.eventPikahaku, .eventPikahaku h5 {
	font-size: 90%;
}
.fieldBox > a:BEFORE {
	content: "» ";
}
tr.highlight td {
	background-color: rgb(165, 225, 255);
	border-bottom-color: black;
}
.birdHistory td {
	padding-left: 1px;	
	padding-right: 1px;
}
#mapContainer {
	margin: 0;
	padding: 0;
}
.loydosTable {
	width: 100%;
	margin: 0;
	padding: 0;
}
.loydosTable caption {
	text-align: left;
}
.loydosTable td {
	padding: 2px;
	background-color: white;
}
.loydosFormInfoContainer label {
	width: 130px;
	display: inline-block;
}
.loydosFormInfoContainer .person {
	float: left;
	margin-right: 20px;
}
.loydosFormInfoContainer div {
	padding: 10px;
	margin: 0;
}
.loydosFormInfoContainer.eventInsert td {
	color: rgb(209, 113, 50) !important;
}
.loydosFormInfoContainer.eventInsert .loydosRowResolvedValue td {
	color: rgb(154, 183, 106) !important;
}
.loydosTable .notesInput {
	width: 450px;
	font-size: 110%;
}

#loydosPaging {
	max-width: 60px;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: none;
}

#blockingLoader {
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    font-size: 400%;
    font-color: white;
    text-align: center;
    vertical-align: middle;
}

#eventForm {
	display: block; maring: 0; padding: 0; height: 100%; width: 100%;
}

.optionsTable td {
	font-size: 100%;
	padding: 5px;
}
.optionsTable td.empty, .optionsTable th.empty {
	background-color: inherit;
	border-bottom-style: none;
	border-top-style: none;
}

#binContentsTable td.nonEventColumn {
	background-color: rgb(240, 242, 215);
}

.yllapito th, .yllapito td {
	text-align: center;
	vertical-align: middle;
} 
th.idField, td.idField {
	background-color: rgb(240, 242, 215);
}
img.binImage {
	float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin-right: 30px;
}
#eventAttachments, .eventPikahaku {
	float: left;
	margin-right: 30px;
}
.newFileContainer {
	background-color: rgb(215, 255, 215);
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
}
#eventAttachments {
	border: 0;
	height: 140px;
	width: 390px;
	overflow: hidden;
}
.removeAttachmentLinK {
	font-size: 90%;
	color: rgb(200,170,170);
}

div.searchInstructions {
	display: block;
	clear: both;
	font-size: 90%;
	max-width: 35em;
	padding: 5px;
	margin-top: 5px;
}

td.binstatus_OK { background-color: #D1FFD9; }
td.binstatus_SHOULD_TRY { background-color: #CBD600; }
td.binstatus_RING_ERRORS { background-color: #FF8C8C; }

textarea#massEmail\.message {
	height: 340px;
	width: 700px;
}

.grey {
	color: #ddd;
}

.reports input {
	min-width: 60px;
}

ol li {
	padding: 5px;
}


#massUploadValidation th, #massUploadValidation td {
	border: 1px solid grey;
}
#massUploadValidation > tbody > tr:nth-child(odd) td {
	background-color: rgb(214, 234, 249);
}
#massUploadValidation label {
	width: 200px;
	display: inline-block;
}

.button-disabled {
	color: grey;
	cursor: not-allowed;
}

#massupdateInfoTable td, #massupdateInfoTable th {
	padding: 5px;
	border: 1px solid #eee;
	font-size: inherit;
}

.disclaimer {
	background-color: rgba(255, 120, 40, 0.5); 
	border-left: 5px solid rgb(150,80, 25);
    padding: 1em 2em 1em 1em;
    margin: 20px 0;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    color: #333; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 60em;
}